@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Open -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hg{
    background: rgba(0, 91, 193, 0.6);
    Width:1920px;
    Height:80px;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.logo{
    height: 58px;
    width: 140px;
    margin-left: 40px;
    margin-top: 11px;
    margin-bottom: 11px;
}
.header{
    background-image: url(img/row.png);
    width: 100%;
    height: 800px;
    margin: auto;
    background-color: #005BC1;
    background-repeat: no-repeat;
    background-position: center top;
}

.nav__text{
    list-style-type: none;
}
.text{
    text-decoration: none;
    color: white;
    margin-left: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 555px;
    margin-top: 31px;
    margin-bottom: 30px;
}
.header__nav{
    display: flex;
    flex-direction: row;
}
.title__background{
    z-index: -1;
    width: 444px;
    height: 720px;
    background: rgba(0, 91, 193, 0.6);
    margin-left: 505px;
}
.header__title{
    position: relative;
    z-index: 2;
}
.title{
    position: absolute;
    z-index: 1;
    margin-left: 535px;
    margin-top: 310px;
    width: 635px;
}

.title__text{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    margin-left: 40px;
}
.line1{
    position: absolute;
    background-color: #005BC1;
    opacity: 60%;
    width: 444px;
    height: 720px;
    left: -17%;
    margin-top: 80px;
    top: -23.6%;
    z-index: -1;
}
.title__desc{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    margin-top: 40px;
    margin-left: 40px;
}
.button__text{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
}
.button{
    margin-top: 40px;
    width: 160px;
    height: 51px;
    border: 1px solid white;
    background-color: transparent;
    margin-left: 40px;
}
.main{
    margin-top: 174px;
}
.container{
    margin: auto;
    width: 1000px;
}
.main__projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line{
    display: flex;
    flex-direction: column;
}
.line-one{
    border: 3px solid #005BC1;
    width: 100px;
    background-color: #005BC1;
}
.line-two{
    border: 3px solid #005BC1;
    width: 50px;
    margin-top: 13px;
    margin-left: 50px;
    background-color: #005BC1;
}
.main__title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-left: 40px;
}
.slider-menu__button{
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.projects__photo{
    display: flex;
    flex-direction: row;
    position: relative;
}
.img__photo{
    width: 540px;
    height: 400px;
}
.info-photo{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 250px;
    height: 110px;
    margin-bottom: 50px;
}
.organization{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
}
.photo{
    position: relative;
    z-index: -1;
}
.photo{
    width: 540px;
    height: 400px;
}
.info-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.title-photo{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin-left: 25px;
    margin-top: 20px;
}
.photo-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin-left: 25px;
}
.info-photo{
    margin-top: 250px;
    margin-left: 200px;
}

.slider-menu__button{
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.projects__photo{
    display: flex;
    flex-direction: row;
    position: relative;
}
.img__photo{
    width: 540px;
    height: 400px;
}
.info-photo{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 250px;
    height: 110px;
    margin-bottom: 50px;
}
.organization{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
}
.photo{
    position: relative;
    z-index: -1;
}
.photo{
    width: 540px;
    height: 400px;
}
.info-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.title-photo{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin-left: 25px;
    margin-top: 20px;
}
.photo-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin-left: 25px;
}
.info-photo{
    margin-top: 250px;
    margin-left: 200px;
}
.product-catalog{
    margin-top: 168px;
}
.text__active{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.text__active:hover{
    text-decoration: underline;
    color: #005BC1;
}
.text__robe-computer{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
}
.slidergoods-items {
    width: 350px;
    height: 300px;
    border: 1px solid #005BC1;
    display: flex;
    justify-content: right;
}

.slidergoods-items-desc {
    background-color: #005BC1;
    width: 265px;
    height: 86px;
    margin-top: 199px;
}

.slider__goods-items-desc-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 21px;
    color: white;
    margin-bottom: 20px;
}
.robe-computer{
    display: flex;
    margin-top: 55px;
}
.rent{
    margin-top: 168px;
}
.rent__text{
    font-family: Open -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #343434;
}
.rent__text{
    width: 300px;
    height: 175px;
    margin-top: 150px;
}
.rental-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-left: 30px;
    margin-top: 42px;
}
.rent__items{
    border: 3px solid #005BC1;
    width: 665px;
    height: 394px;
    margin-left: 45px;
}
.rental-title-text{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-top: 45px;
    margin-left: 30px;
}
.product__text{
    font-family: Open -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.product__description{
    margin-top: 30px;
    margin-left: 50px;
}